<%- include('./partials/header.ejs') %>
<!--Heading-->
<div class="tz-heading">
    <img src="/images/cat.jpg" alt="blog page">
    <h1>Search Result</h1>
</div>
<!--End Heading-->

<!--Control-->
<div class="tz-control">
    <div class="container">

        <!--Breadcrumbs-->
        <ul class="tz-breadcrumbs pull-left">
            <li>
                <a href="/">প্রচ্ছদ </a><i class="fa fa-angle-right"></i>
            </li> 
            <li>
                Search
            </li>
        </ul>
        <!--End breadcrumbs-->

    </div>
</div>
<!--End control-->

<!--Blog wrap-->
<div class="blog-post-sidebar">

    <!--Blog post-->
    <div class="blog-post blog-border-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 tzleft_sidebar tzcontent">
                    <%- ads.search %>
                </div>
                <div class="col-md-9 tzleft_style tzsidebar">
                    <% if(categoryWise.length>0){ Object.keys(categoryWise).forEach(function(prop) { %>
                    <div class="item-list-style">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="tz-thumbnail">
                                    <img src="/<%= categoryWise[prop].image %>" alt="/<%= categoryWise[prop].title %>">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="tz-infomation">
                                    <h3 class="tz-post-title"><a href="/news/details/<%= categoryWise[prop].slug %>"><%= categoryWise[prop].title %></a></h3>
                                    <span class="meta"> <%= moment(categoryWise[prop].createdAt).format('Do MMMM, YYYY') %> </span>
                                    <p><%= categoryWise[prop].metaDescription.substring(0, 150) %>......
                                    </p>
                                    <a href="/news/details/<%= categoryWise[prop].slug %>" class="readmore">বিস্তারিত </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) }else{; %>
                        <h4>কোন তথ্য পাওয়া যায়নি.........</h4>
                    <% }; %>
                </div>
            </div><!--End row-->
        </div><!--End container-->
    </div>
    <!--End blog post-->

</div>
<!--End blog wrap-->
<%- include('./partials/footer.ejs') %>
